<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/templates/fab_style.css">
	</head>
	<body>
		<div class="menu pmd-floating-action"  role="navigation"> 
			<a href="javascript:void(0);"class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger" data-title="Delete Folder"> 
				<span class="pmd-floating-hidden">Delete Folder</span> 
				<i class="material-icons">delete</i> 
			</a>
			<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-success" data-title="Download Folder"> 
				<span class="pmd-floating-hidden">Download Folder</span> 
				<i class="material-icons">cloud_download</i>
			</a> 
			<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-info" data-toggle="modal" data-target="#modal_mkdir" data-title="New Folder"> 
				<span class="pmd-floating-hidden">New Folder</span>
				<i class="material-icons">create_new_folder</i>
			</a> 
			<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-warning" data-toggle="modal" data-target="#modal_upload" data-title="Upload File"> 
				<span class="pmd-floating-hidden">Upload File</span> 
				<i class="material-icons">file_upload</i> 
			</a>  
			<a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Options" href="javascript:void(0);"> 
				<span class="pmd-floating-hidden">Primary</span>
				<i class="material-icons pmd-sm">add</i> 
			</a> 
		</div>
	</body>
</html>
