<!DOCTYPE html>
<html>
	<head>
		<title>{{disp_path[-1]}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fileicon.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropzone.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/basic.min.css') }}">

		<link rel="stylesheet" type="text/css" href="/templates/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/templates/typography.css">
		<link rel="stylesheet" type="text/css" href="/templates/fab_style.css">
		<link rel="stylesheet" type="text/css" href="/templates/propeller_button.css">
    <link rel="stylesheet" type="text/css" href="/templates/material-icons.css">
		
		<script src="/templates/jquery/jquery-3.4.1.js"></script>
		<script src="/templates/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
	</head>
	<body>
<!--
		<div class="progress-rounded progress">
			<div class="progress-bar progress-bar-info" style="width: 68%;"></div>
		</div>
-->
		<center>
				<b><h1>WebSharePy</h1></b>
				<p>Webserver using python flask framework for managing storage on the server.</p>
		</center>
		<b><i><h1>
			&nbsp;
			<a href='/explore'><i class="material-icons" style="font-size:32px;position:relative;top:8px">home</i> {{disp_path.pop(0)}}</a>&nbsp;/
			{% for each in disp_path: %}
				<a href='/explore{{disp_dict[each]}}'>{{each}}</a>&nbsp;/
			{% endfor %}
		</h1></i></b>
		<div class="table-responsive">
		<table class="table row" style="width:100%">
			<tr>
				<th></th>
				<th>File/Directory</th>
				<th >File size</th>
				
			</tr>
			{% for dir in dirs: %}
				<tr onclick="window.location.href='/explore/{{path}}/{{dir.name}}'">
				    <td><i class="material-icons" style="font-size:36px;color:#018fef;position:relative;top:5px;left:15px;right:8px">folder</i></td>
					<td>
						{{dir}}<br>
						<p style="font-size:12px">{{dir.modified}}</p>
					</td>
					<td>{{dir.get_size()}}</td>
				</tr>
			{% endfor %}
			{% for file in files: %}
			<tr onclick="window.location.href='/explore/{{path}}/{{file.name}}'">
				<td>&nbsp;&nbsp;&nbsp;<div class="file-icon file-icon-default" data-type="{{file.type}}"  style="font-size:36px;color:#018fef;position:relative;top:5px;left:10px;right:8px"></div></td>
				<td>{{file}}<br>
					<p style="font-size:12px">{{file.modified}}</p>
				</td>
				<td>{{file.get_size_string()}}</td>
			</tr> 
			{% endfor %}
		</table>
		</div>
		{% include 'mkdir.html' %}
		{% include 'fab.html' %}
		{% include 'uploader.html' %}
		
	</body>
</html>
