<div class="modal fade" id="modal_upload" role="dialog">
	<div class="modal-dialog center">
	
	  <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				
				<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
					<center>
						<strong>Files:</strong><br>
						Select files OR drag them into the box below.
						<input id="file-picker" class="btn btn-default" type="file" name="file" accept="*/*" multiple><p>
						
						<div id="dropbox">
							Drag and Drop Files Here
						</div>
					</center>
					<fieldset id="progress" style="display: none">
						<legend>Files Progress</legend>

						<div class="progress-trough"><div id="progress-bar" class="progress-bar">0%</div></div>
					</fieldset><br>
					<input type="submit" class="btn btn-primary" value="Upload!" id="upload-button">
				</form>
				
				<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
				<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
			</div>
		</div>
	</div>
</div>
