<div class="modal fade" id="modal_upload" role="dialog">
	<div class="modal-dialog center">
	
	  <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<center><p style="font-size:12px">Do not refresh or visit another page while uploading.<br>Uploading will be <strong>interrupted</strong> by doing so.</p></center>
				<form method="POST" action="/upload/{{path}}" class="dropzone needsclick dz-clickable" 
					id="dropper" enctype="multipart/form-data" style="border-style:dashed;border-color:#00c2ff">
					<div class="dz-message needsclick">
						Drop files here or <strong>click</strong> to upload.<br>
					</div>
					<div class="fallback">
						<input name="file" type="file" multiple />
					</div>
				</form>
				<script type="application/javascript">
					
					Dropzone.options.dropper = {
						paramName: 'file',
						chunking: true,
						forceChunking: true,
						retryChunks: true,
						retryChunksLimit: 4,
						url: '/upload/{{path}}',
						maxFilesize: 10240, // megabytes
						chunkSize: 1048576 // bytes
					};
				</script>
			</div>
		</div>
	</div>
</div>
